*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* transition: all 0.8s ease;
    scroll-behavior: smooth; */
}

body{
    font-family: 'Jost', sans-serif;
    height: 100vh;
    max-width: 1280px;
    margin: auto;
    box-sizing:border-box;    
}

:root {
    --orange-color: #FF6B00;
    --black-color: #101010;
    --secondary-black-color: #606060;
    --light-color: #FFF5EF;
}

header{
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}

.logo img {
   position: absolute;    
    width: 60px;
    top: 40px;
    left: 30px;
    /* mix-blend-mode:multiply; */
}

.contact{
    position: absolute;    
      top: 50px;
    right: 90px;
    font-weight: 600;
}
.contact:hover{
    color: var(--orange-color);   
}
.nav>ul{
    display: flex;
    gap: 30px;
    list-style: none;
      
}

a{
    text-decoration: none;
    font-size: 16px;
    color: var(--black-color);
    transition: all .3s;
    font-weight: 500;
}



a:hover {
    color: var(--orange-color);
}

#banner{
    
   width: 100%;
   background: linear-gradient(256.24deg, rgba(255, 195, 152, 0.2) 26.56%, rgba(255, 234, 190, 0.3) 100%);
   display: flex;
    justify-content: space-between;
}

.left{
    /* padding-top: 200px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding-left: 50px;
}

#banner>.right>img{
    width: 550px;
    height: 400px;
    mix-blend-mode:multiply;
}

button{
    margin-top: 40px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid var(--orange-color);
    background-color: var(--orange-color);
    transition: all .3s;
    color: white;
    font-weight: bolder;

    
}
 

button:hover{
    background-color: #000;

}